body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;  
    background-color: #8d289c;
}

.container .esquerda{
    width: 50%;
    height: 100%;
    background-color: #8d289c;
}

.container .esquerda img {
    width: 625px;

}

.container .direita{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.container .direita .topo h1{
    font-size: 40px;
    color: #8d289c;
    text-transform: uppercase;
    text-align: center; 
}

.container .direita .meio{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.container .direita .meio .campo{
    display: flex;
    flex-direction: column;
}

.container .direita .meio .campo label{
    font-weight: bold;
}

.container .direita .meio .campo input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #e3e3e3;
}


.container .direita .meio .esqueci-senha{
    display: flex;
    justify-content: space-between
}

.container .direita .fim{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.container .direita .fim button{
    border: none;
    background-color: #8b149e;
    width: 100%;
    height: 35px;
    color: white;
    margin-top: 20px;
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
    transition: 500ms;
}

.container .direita .fim button:hover{
    background-color: #721081;
}

.container .direita .fim .nova-conta{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
}

/* Media Query */

@media (max-width: 750px){

    .container {
        background-color: white;
    }

    .container .esquerda{
        display: none;
    }

    .container .direita{
        width: 100%;
    }
}

@media (max-width: 407px) {

    .container .direita .meio{
       width: 90%;
    }

    .container .direita .fim{
        width: 90%;
    }

}